tensorflow
tensorflow-gpu
absl-py
astor
backcall
bleach
certifi
cloudpickle
cycler
Cython
dask
decorator
entrypoints
gast
grpcio
h5py
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
keras-resnet
keras-retinanet
keras-vis
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
networkx
notebook
olefile
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
scikit-image
Send2Trash
simplegeneric
six
tensorboard
termcolor
terminado
testpath
toolz
tornado
traitlets
wcwidth
Werkzeug
widgetsnbextension
numpy
scipy